.fonctionnement {
    h2 {
        margin-bottom: 15px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}

.fonctionnement-box {
    color: black;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 75px;
    width: 325px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 15px;
    transition: background-color 0.5s ease-in-out;

    span {
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #9356DC;
        font-size: 13px;
        color: white;
        text-align: center;
        padding: 5px;
        margin-left: -12px;
    }

    i {
        transition: color 0.5s ease-in-out;
        color: rgb(126, 126, 126);
        margin-inline: 15px;
    }

    &:hover {
        background-color: rgb(245, 237, 255) !important;
        //background-color: red;

        i {
            color: #9356DC;
        }
    }
}