@import './font';
@import './components/favoris';
@import './components/footer.scss';

.rideau {
    color: rgb(246, 246, 246);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    max-width: 1000px;

    h1 {
        width: 100%;
        text-align: center;
    }
}

button {
    cursor: pointer;
}

main {
    background-color: rgb(246, 246, 246);

    >img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        z-index: -1;
    }

    .menus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        max-width: 1300px;
        margin: auto;
        margin-top: 20px;
    }

    .restaurant-card {
        //z-index: 1;
        background-color: rgb(246, 246, 246) !important;
        border-radius: 15px 15px 0px 0px;
        //margin-top: -15px;
        transform: translateY(-30px);
        padding-inline: 15px;

        .top-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 8px;
            margin-top: 8px;
        }

        h2 {
            font-size: 80%;
            font-weight: 400;
            position: relative;
            margin-bottom: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                //background-color: rgb(153, 226, 208);
                bottom: -5px; //to place it in bottom
                left: 0;
                margin-top: 13px;
            }
        }

    }

    button.command {
        color: white;
        background: linear-gradient(-10deg, #9356DC 10%, hotpink 60%);
        min-width: 150px;
        border: none;
        border-radius: 25px;
        padding: 15px;
        margin-top: 30px;
        margin-inline: auto;
        display: block;
        margin-bottom: 30px;

        &:hover {
            background-color: rec;
        }
    }

    .card-plat {
        border-radius: 10px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
}

.card-menu {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    animation: step-display 2s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

}

.card-menu:nth-child(1) {
    animation: step-display 0.5s ease-in-out;
}

.card-menu:nth-child(2) {
    animation: step-display 1s ease-in-out;
}

.card-menu:nth-child(3) {
    animation: step-display 1.5s ease-in-out;
}

.card-menu .card-content {
    flex-shrink: 0;
    flex-basis: 442px;
    overflow: hidden;
    transition: all 0.3s ease-out;

    .under-dish {
        display: flex;
        justify-content: space-between;

        b {
            padding-right: 20px;
        }
    }
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-menu .panel {
    display: grid;
    place-content: center;
    height: 70px;
    width: 50px;
    background-color: rgb(153, 226, 208);
    color: white;
}

.card-menu .panel {
    flex-shrink: 0;
    flex-basis: 80px;
    transition: right 0.5s ease-in-out;
}

.card-menu .panel i {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.3s;
}

.card-menu:hover .card-content {
    flex-basis: 250px;
}

.card-menu:hover .panel i {
    transform: rotate(360deg);
}

@keyframes step-display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}