@import "variables";
@import "composants";

header{
    background-color: cadetblue;
    h1 {
        color: crimson;
        background-color: $primaire;
        border-radius: $border-radius-value;
        margin: 15px;
        padding: 15px;
        transition: box-shadow 0.2s ease-in-out;
        &:hover{
            box-shadow: 10px 10px 5px rgba($color: #000000, $alpha:0.5);
        }
    }
}
