.favoris {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
}

.fa-regular.fa-heart {
  z-index: 5;
  transition: opacity 2s linear;

  &:hover {
    opacity: 0;
  }
}

.fa-square-full {
  z-index: 3;
}

.fa-solid.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  background-image: linear-gradient(#e66465, #9198e6);
}

.rideau {
  color: white;
  height: 15px;
  transition: all 2s;
  transition-timing-function: ease-in-out;
}

.favoris:hover .rideau {
  top: -22px;
}