.restaurant {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px;
    h2 {
        text-align: center;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .restaurant-box {
        background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        width: 335px;
        p {
            text-align: left;
        }
    }

    i {
        color: palevioletred;
    }

    .resto-align-item {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
}